.opcoes {
    display: flex;
    width: 100vw;
    flex-direction: row-reverse;
}

.opcao {
    font-size: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 120px;
    height: 100%;
    padding: 0 5px;
    cursor: pointer;
}